<div class="max-w-lg m-auto bg-white flex mt-[50px] items-center flex-col gap-3 rounded-lg">
  <h2 class="text-center text-2xl my-4">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "flex flex-col gap-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: btn_class_blue %>
    </div>
  <% end %>

  <div class="flex gap-3 my-5">
   <%= render "devise/shared/links" %>
  </div>
</div>
